*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    to right bottom,
    rgba(163, 47, 47, 1),
    rgba(163, 47, 47, 0.8)
  );
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 47, 47, 0.6);
  z-index: 10;
  display: none;
  align-items: center;
}

.modal__text {
  color: white;
  padding: 2rem 0;
  width: 100%;
  background-color: rgba(31, 30, 32, 1);
  align-items: center;
  text-align: center;
}

.modal__text > * {
  margin: 1rem;
}

.modal__text .message {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.modal .icon-x,
.modal .icon-o {
  display: none;
}

.modal .icon-x::before,
.modal .icon-x::after,
.modal .icon-o::after {
  left: 33%;
  bottom: 5px;
}

.modal button {
  padding: 5px 15px;
  border: 0;
  outline: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.next-round {
  background-color: rgb(181, 230, 84);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
}

.buttons > * {
  text-align: center;
  width: 30px;
}

.icons {
  position: relative;
  height: 30px;
}

.icon-x::after,
.icon-x::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 100%;
  border-radius: 10px;
  background-color: rgb(207, 203, 203);

  left: 10px;
}

.icon-x::after {
  transform: rotate(45deg);
}

.icon-x::before {
  transform: rotate(-45deg);
}

.icon-o::after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 100%;
  border: 6px solid rgb(213, 233, 37);
  border-radius: 50%;
  left: 30px;
}

.next-playing {
  width: 80px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: rgb(92, 87, 87);
  color: aliceblue;
  border-radius: 5px;
  position: relative;
  text-align: center;
}

.next-playing .icons {
  position: relative;
  width: 30px;
  transform: scale(0.6);
}

.next-playing .icon-x {
  display: none;
}

.next-playing .icon-o {
  display: none;
}

.next-playing .icon-o::after {
  left: 0;
}

.play-again {
  width: 30px;
  padding: 5px;
  border: 0;
  border-radius: 3px;
  background-color: rgb(207, 203, 203);
  color: rgb(92, 87, 87);
  box-shadow: -2px 2px 3px 2px rgba(31, 30, 32, 0.4);
}

.row {
  display: flex;
}

.cell {
  width: 100px;
  height: 100px;
  margin: 5px;
  background-color: rgb(218, 139, 139);
  position: relative;
  box-shadow: -1px 4px 5px 2px rgba(31, 30, 32, 0.4);
}

.figure {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figure-x {
  background-color: rgb(146, 82, 206);
  display: none;
}

.figure-x::after,
.figure-x::before {
  content: "";
  width: 100%;
  height: 17px;
  background-color: aliceblue;
  border-radius: 10px;
  position: absolute;
}

.figure-x::after {
  transform: rotate(45deg);
}

.figure-x::before {
  transform: rotate(-45deg);
}

.figure-o {
  background-color: rgb(222, 228, 138);
  display: none;
}

.figure-o::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 15px solid gray;
}

.score {
  display: flex;
  justify-content: space-between;
  width: 320px;
  border: solid red;
  text-align: center;
}

.score > * {
  width: 80px;
}

.show {
  display: flex !important;
}
